@page "/DuplicateTitles"
@using NsxLibraryManager.Shared.Dto
<RadzenTabs @bind-SelectedIndex="@selectedTabIndex">
    <Tabs>
        <RadzenTabsItem Text="Duplicates Base">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap" Gap="1rem">
                <RadzenDataGrid 
                    @ref="_duplicateBaseTitlesGrid" 
                    Data="@_duplicateBaseTitles" 
                    TItem="LibraryTitleDto"
                    Count="@_countBaseTitles"
                    AllowSorting="false" 
                    AllowPaging="true" 
                    PageSize="100"
                    AllowFiltering="true" 
                    FilterMode="FilterMode.SimpleWithMenu" 
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowColumnResize="true" 
                    PagerHorizontalAlign="HorizontalAlign.Center" 
                    ColumnWidth="200px" 
                    AllowColumnPicking="true"
                    IsLoading="@isLoading" 
                    AllowColumnReorder="true" 
                    PageSizeOptions="@_pageSizeOptions" 
                    ShowPagingSummary="true" 
                    style="height: 89vh">
                    <HeaderTemplate>
                        <RadzenButton Text="Scan Library Titles" Click="@LoadFiles" ButtonStyle="ButtonStyle.Primary" class=".rz-shadow-2"/>
                    </HeaderTemplate>
                    <Columns>
                        <RadzenDataGridColumn Property="Id" Title="Id" Width="50px"/>
                        <RadzenDataGridColumn Property="ApplicationId" Title="Title Id" Width="100px"/>
                        <RadzenDataGridColumn Property="TitleName" Title="Name" />
                        <RadzenDataGridColumn Property="Version" Title="Version" Width="100px"/>
                        <RadzenDataGridColumn Property="FileName" Title="FileName" Width="300px">
                            <Template Context="libraryTitle">
                                <div style="white-space: normal; word-break: break-word; min-width: 0; max-height: 100px; overflow-y: auto;">
                                    @libraryTitle.FileName
                                </div>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenStack>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Duplicates Updates">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap" Gap="1rem">
                <RadzenDataGrid
                    @ref="_duplicateUpdatesTitlesGrid"
                    Data="@_duplicateUpdatesTitles"
                    TItem="LibraryTitleDto"
                    Count="@_countUpdatesTitles"
                    AllowSorting="false"
                    AllowPaging="true"
                    PageSize="100"
                    AllowFiltering="true"
                    FilterMode="FilterMode.SimpleWithMenu"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowColumnResize="true"
                    PagerHorizontalAlign="HorizontalAlign.Center"
                    ColumnWidth="200px"
                    AllowColumnPicking="true"
                    IsLoading="@isLoading"
                    AllowColumnReorder="true"
                    PageSizeOptions="@_pageSizeOptions"
                    ShowPagingSummary="true" 
                    style="height: 89vh">
                    <HeaderTemplate>
                        <RadzenButton Text="Scan Library Titles" Click="@LoadFiles" ButtonStyle="ButtonStyle.Primary" class=".rz-shadow-2"/>
                    </HeaderTemplate>
                    <Columns>
                        <RadzenDataGridColumn Property="Id" Title="Id" Width="50px"/>
                        <RadzenDataGridColumn Property="ApplicationId" Title="Title Id" Width="100px"/>
                        <RadzenDataGridColumn Property="TitleName" Title="Name" />
                        <RadzenDataGridColumn Property="Version" Title="Version" Width="100px"/>
                        <RadzenDataGridColumn Property="FileName" Title="FileName" Width="300px">
                            <Template Context="libraryTitle">
                                <div style="white-space: normal; word-break: break-word; min-width: 0; max-height: 100px; overflow-y: auto;">
                                    @libraryTitle.FileName
                                </div>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenStack>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Duplicates DLC">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap" Gap="1rem">
                <RadzenDataGrid
                    @ref="_duplicateDlcTitlesGrid"
                    Data="@_duplicateDlcTitles"
                    TItem="LibraryTitleDto"
                    Count="@_countDlcTitles"
                    AllowSorting="false"
                    AllowPaging="true"
                    PageSize="100"
                    AllowFiltering="true"
                    FilterMode="FilterMode.SimpleWithMenu"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowColumnResize="true"
                    PagerHorizontalAlign="HorizontalAlign.Center"
                    ColumnWidth="200px"
                    AllowColumnPicking="true"
                    IsLoading="@isLoading"
                    AllowColumnReorder="true"
                    PageSizeOptions="@_pageSizeOptions"
                    ShowPagingSummary="true" 
                    style="height: 89vh">
                    <HeaderTemplate>
                        <RadzenButton Text="Scan Library Titles" Click="@LoadFiles" ButtonStyle="ButtonStyle.Primary" class=".rz-shadow-2"/>
                    </HeaderTemplate>
                    <Columns>
                        <RadzenDataGridColumn Property="Id" Title="Id" Width="50px"/>
                        <RadzenDataGridColumn Property="ApplicationId" Title="Title Id" Width="100px"/>
                        <RadzenDataGridColumn Property="TitleName" Title="Name" />
                        <RadzenDataGridColumn Property="Version" Title="Version" Width="100px"/>
                        <RadzenDataGridColumn Property="FileName" Title="FileName" Width="300px">
                            <Template Context="libraryTitle">
                                <div style="white-space: normal; word-break: break-word; min-width: 0; max-height: 100px; overflow-y: auto;">
                                    @libraryTitle.FileName
                                </div>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenStack>
        </RadzenTabsItem>        
    </Tabs>
</RadzenTabs>