@page "/renamer"
<PageTitle>Renamer</PageTitle>
<RadzenTabs>
<Tabs>
<RadzenTabsItem Text="Renamer">
    Configure Renamer First.
</RadzenTabsItem>
<RadzenTabsItem Text="Configuration">
<RadzenStack Style="padding-bottom: .5rem ">

    <RenamerFieldSet Text="Basic Info" AllowCollapse="true" Visible="true">
        <RadzenRow Gap="1rem">
            <RadzenColumn Size="12" SizeSM="6">
                <RenamerFieldSet Text="Input">
                    <RadzenFormField Text="Input Path" Variant="@_variant" Style="width: 100%; padding: 1px">
                    <RadzenTextBox @bind-Value="@_inputPath" id="InputPath" Name="InputPath"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(TextBoxType.None)"
                                   @onclick="_ => TemplateTextboxUpdate(TextBoxType.None)"/>
                    </RadzenFormField>
                    <div class="rz-text-align-right">
                        <RadzenCheckBox Name="Recusive" @bind-Value="@_recursive"/>
                        <RadzenLabel Text="Recursive Subdirectories" Component="Recusive" Style="margin-left: 8px; vertical-align: middle;"/>
                    </div>
                </RenamerFieldSet>
                <RenamerFieldSet Text="Output">
                    <RadzenFormField Text="Base Path" Variant="@_variant" Style="width: 100%; padding: 1px">

                    <RadzenTextBox @bind-Value="@_outputBasePath" id="OutpatPath" Name="OutpatPath"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(TextBoxType.None)"
                                   @onclick="_ => TemplateTextboxUpdate(TextBoxType.None)"/>                        
                    </RadzenFormField>
                </RenamerFieldSet>
                    <RadzenRow Style="margin-top: .5rem;" JustifyContent="JustifyContent.Center">
                        <RadzenButton Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Success" class="rz-ripple">Validate Configuration</RadzenButton>
                        <RadzenButton Variant="Variant.Outlined" class="rz-ripple">Save Configuration</RadzenButton>
                    </RadzenRow>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeSM="6">
                <RenamerFieldSet Text="Template Fields">
                    <RadzenRow Gap="0.1rem" Style="padding-bottom: .1rem">
                        <RadzenColumn class="rz-p-2" Style="text-align: center; padding: 0 !important;">
                            <RadzenButton Text="@_templateFieldMappings[TemplateField.BasePath]" Shade="Shade.Lighter"
                                          Click="@(args => TemplateFieldClick(TemplateField.BasePath, args))"
                                          MouseEnter="@(args => ShowTooltip(TemplateField.BasePath, args))"
                                          ButtonStyle="ButtonStyle.Info" Style="width: 100%; height: 100%;"/>
                        </RadzenColumn>
                        <RadzenColumn class="rz-p-2" Style="text-align: center; padding: 0 !important;">
                            <RadzenButton Text="@_templateFieldMappings[TemplateField.TitleName]" Shade="Shade.Lighter"
                                          Click="@(args => TemplateFieldClick(TemplateField.TitleName, args))"
                                          MouseEnter="@(args => ShowTooltip(TemplateField.TitleName, args))"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%; height: 100%;"/>
                        </RadzenColumn>
                        <RadzenColumn class="rz-p-2" Style="text-align: center; padding: 0 !important;">
                            <RadzenButton Text="@_templateFieldMappings[TemplateField.TitleId]" Shade="Shade.Lighter"
                                          Click="@(args => TemplateFieldClick(TemplateField.TitleId, args))"
                                          MouseEnter="@(args => ShowTooltip(TemplateField.TitleId, args))"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%; height: 100%;"/>
                        </RadzenColumn>
                        <RadzenColumn class="rz-p-2" Style="text-align: center; padding: 0 !important;">
                            <RadzenButton Text="@_templateFieldMappings[TemplateField.Version]" Shade="Shade.Lighter"
                                          Click="@(args => TemplateFieldClick(TemplateField.Version, args))"
                                          MouseEnter="@(args => ShowTooltip(TemplateField.Version, args))"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%; height: 100%;"/>
                        </RadzenColumn>
                    </RadzenRow>
                    <RadzenRow Gap="0.1rem">
                        <RadzenColumn class="rz-p-2" Style="text-align: center; padding: 0 !important;">
                            <RadzenButton Text="@_templateFieldMappings[TemplateField.Extension]" Shade="Shade.Lighter"
                                          Click="@(args => TemplateFieldClick(TemplateField.Extension, args))"
                                          MouseEnter="@(args => ShowTooltip(TemplateField.Extension, args))"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%; height: 100%;"/>
                        </RadzenColumn>
                        <RadzenColumn class="rz-p-2" Style="text-align: center; padding: 0 !important;">
                            <RadzenButton Text="@_templateFieldMappings[TemplateField.AppName]" Shade="Shade.Lighter"
                                          Click="@(args => TemplateFieldClick(TemplateField.AppName, args))"
                                          MouseEnter="@(args => ShowTooltip(TemplateField.AppName, args))"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%; height: 100%;"/>
                        </RadzenColumn>
                        <RadzenColumn class="rz-p-2" Style="text-align: center; padding: 0 !important;">
                            <RadzenButton Text="@_templateFieldMappings[TemplateField.PatchId]" Shade="Shade.Lighter"
                                          Click="@(args => TemplateFieldClick(TemplateField.PatchId, args))"
                                          MouseEnter="@(args => ShowTooltip(TemplateField.PatchId, args))"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%; height: 100%;"/>
                        </RadzenColumn>
                        <RadzenColumn class="rz-p-2" Style="text-align: center; padding: 0 !important;">
                            <RadzenButton Text="@_templateFieldMappings[TemplateField.PatchNum]" Shade="Shade.Lighter"
                                          Click="@(args => TemplateFieldClick(TemplateField.PatchNum, args))"
                                          MouseEnter="@(args => ShowTooltip(TemplateField.PatchNum, args))"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%; height: 100%;"/>
                        </RadzenColumn>
                    </RadzenRow>
                </RenamerFieldSet>
                <RenamerFieldSet Text="@_sampleResultLabel">
                    <RadzenRow Gap="0.1rem">
                        <RadzenColumn Size="2">Before:</RadzenColumn>
                        <RadzenColumn Size="10">
                            <RadzenText Style="font-family: monospace; font-size: .7rem" Text=" N:\roms validados\nsz\base\0X0 minimalist [01001E3013FC4000][v0][01001E3013FC4000][v0][01001E3013FC4000][v0][01001E3013FC4000][v0][01001E3013FC4000][v0][01001E3013FC4000][v0][01001E3013FC4000][v0].nsz"/>
                        </RadzenColumn>
                    </RadzenRow>
                    <RadzenRow Gap="0.1rem">
                        <RadzenColumn Size="2">After:</RadzenColumn>
                        <RadzenColumn Size="10">
                            <RadzenText Style="font-family: monospace; font-size: .7rem" Text=" N:\roms validados\nsz\base\0X0 minimalist [01001E3013FC4000][v0].nsz"/>
                        </RadzenColumn>
                    </RadzenRow>
                </RenamerFieldSet>


            </RadzenColumn>
        </RadzenRow>
    </RenamerFieldSet>
</RadzenStack>


<div Class="rz-p-0">
    <RadzenRow Gap="1rem">
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack Gap="0.1rem" Class="rz-p-2 rz-mb-6 rz-border-radius-1" Style="border: var(--rz-grid-cell-border);">
                NSP Paths
                <RadzenFormField Text="Base" Variant="@_variant">
                    <RadzenTextBox @bind-Value="@_nspBase" id="NspBase" Name="NspBase"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(TextBoxType.NspBase)"
                                   @onclick="_ => TemplateTextboxUpdate(TextBoxType.NspBase)"/>
                </RadzenFormField>
                <RadzenFormField Text="DLC" Variant="@_variant">
                    <RadzenTextBox @bind-Value="@_nspDlc" id="NspDlc" Name="NspDlc"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(TextBoxType.NspDlc)"
                                   @onclick="_ => TemplateTextboxUpdate(TextBoxType.NspDlc)"/>
                </RadzenFormField>
                <RadzenFormField Text="Update" Variant="@_variant">
                    <RadzenTextBox @bind-Value="@_nspUpdate" id="NspUpdate" Name="NspUpdate"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(TextBoxType.NspUpdate)"
                                   @onclick="_ => TemplateTextboxUpdate(TextBoxType.NspUpdate)"/>
                </RadzenFormField>
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack Gap="0.1rem" Class="rz-p-2 rz-mb-6 rz-border-radius-1" Style="border: var(--rz-grid-cell-border);">
                NSZ Paths
                <RadzenFormField Text="Base" Variant="@_variant">
                    <RadzenTextBox @bind-Value="@_nszBase" id="NszBase" Name="NszBase"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(TextBoxType.NszBase)"
                                   @onclick="_ => TemplateTextboxUpdate(TextBoxType.NszBase)"/>
                </RadzenFormField>
                <RadzenFormField Text="DLC" Variant="@_variant">
                    <RadzenTextBox @bind-Value="@_nszDlc" id="NszDlc" Name="NszDlc"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(TextBoxType.NszDlc)"
                                   @onclick="_ => TemplateTextboxUpdate(TextBoxType.NszDlc)"/>
                </RadzenFormField>
                <RadzenFormField Text="Update" Variant="@_variant">
                    <RadzenTextBox @bind-Value="@_nszUpdate" id="NszUpdate" Name="NszUpdate"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(TextBoxType.NszUpdate)"
                                   @onclick="_ => TemplateTextboxUpdate(TextBoxType.NszUpdate)"/>
                </RadzenFormField>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow Gap="1rem">
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack Gap="0.1rem" Class="rz-p-2 rz-mb-6 rz-border-radius-1" Style="border: var(--rz-grid-cell-border);">
                XCI Paths
                <RadzenFormField Text="Base" Variant="@_variant">
                    <RadzenTextBox @bind-Value="@_xciBase" id="XciBase" Name="XciBase"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(TextBoxType.XciBase)"
                                   @onclick="_ => TemplateTextboxUpdate(TextBoxType.XciBase)"/>
                </RadzenFormField>
                <RadzenFormField Text="DLC" Variant="@_variant">
                    <RadzenTextBox @bind-Value="@_xciDlc" id="XciDlc" Name="XciDlc"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(TextBoxType.XciDlc)"
                                   @onclick="_ => TemplateTextboxUpdate(TextBoxType.XciDlc)"/>
                </RadzenFormField>
                <RadzenFormField Text="Update" Variant="@_variant">
                    <RadzenTextBox @bind-Value="@_xciUpdate" id="XciUpdate" Name="XciUpdate"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(TextBoxType.XciUpdate)"
                                   @onclick="_ => TemplateTextboxUpdate(TextBoxType.XciUpdate)"/>
                </RadzenFormField>
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack Gap="0.1rem" Class="rz-p-2 rz-mb-6 rz-border-radius-1" Style="border: var(--rz-grid-cell-border);">
                NSZ Paths
                <RadzenFormField Text="Base" Variant="@_variant">
                    <RadzenTextBox @bind-Value="@_xczBase" id="XczBase" Name="XczBase"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(TextBoxType.XczBase)"
                                   @onclick="_ => TemplateTextboxUpdate(TextBoxType.XczBase)"/>
                </RadzenFormField>
                <RadzenFormField Text="DLC" Variant="@_variant">
                    <RadzenTextBox @bind-Value="@_xczDlc" id="XczDlc" Name="XczDlc"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(TextBoxType.XczDlc)"
                                   @onclick="_ => TemplateTextboxUpdate(TextBoxType.XczDlc)"/>
                </RadzenFormField>
                <RadzenFormField Text="Update" Variant="@_variant">
                    <RadzenTextBox @bind-Value="@_xczUpdate" id="XczUpdate" Name="XczUpdate"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(TextBoxType.XczUpdate)"
                                   @onclick="_ => TemplateTextboxUpdate(TextBoxType.XczUpdate)"/>
                </RadzenFormField>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</div>
</RadzenTabsItem>
</Tabs>
</RadzenTabs>