@page "/renamer"
@using NsxLibraryManager.Core.Enums
<PageTitle>Renamer</PageTitle>

<RadzenTabs>
<Tabs>
<RadzenTabsItem Text="Renamer">
    Configure Renamer First.
</RadzenTabsItem>
<RadzenTabsItem Text="Configuration">
<RadzenStack Style="padding-bottom: .5rem ">

    <RenamerFieldSet Text="Basic Info" AllowCollapse="true" Visible="true">
        <RadzenRow Gap="1rem">
            <RadzenColumn Size="12" SizeSM="6">
                <RenamerFieldSet Text="Input">
                    <RadzenFormField Text="Input Path" Variant="@Variant" Style="width: 100%; padding: 1px">
                        <ChildContent>
                            <RadzenTextBox @bind-Value="@_settings.InputPath" id="InputPath" Name="InputPath"
                                           Style="font-family: monospace;"
                                           @onkeyup="_ => TemplateTextboxUpdate(PackageTitleType.None)"
                                           @onclick="_ => TemplateTextboxUpdate(PackageTitleType.None)"/>
                        </ChildContent>
                        <Helper>
                            <div class="rz-message rz-messages-error ">@_validationErrors["InputPath"]</div>
                        </Helper>
                    </RadzenFormField>
                    <div class="rz-text-align-right">
                        <RadzenCheckBox Name="Recusive" @bind-Value="@_settings.Recursive"/>
                        <RadzenLabel Text="Recursive Subdirectories" Component="Recusive" Style="margin-left: 8px; vertical-align: middle;"/>
                    </div>
                </RenamerFieldSet>
                <RenamerFieldSet Text="Output">
                    <RadzenFormField Text="Base Path" Variant="@Variant" Style="width: 100%; padding: 1px">
                        <ChildContent>
                            <RadzenTextBox @bind-Value="@_settings.OutputBasePath" id="OutputBasePath" Name="OutputBasePath"
                                           Style="font-family: monospace;"
                                           @onkeyup="_ => TemplateTextboxUpdate(PackageTitleType.None)"
                                           @onclick="_ => TemplateTextboxUpdate(PackageTitleType.None)"/>
                        </ChildContent>
                        <Helper>
                            <div class="rz-message rz-messages-error ">@_validationErrors["OutputBasePath"]</div>
                        </Helper>
                    </RadzenFormField>
                </RenamerFieldSet>
                <RadzenRow Style="margin-top: .5rem;" JustifyContent="JustifyContent.Center">
                    <RadzenButton Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Success" Click="@ValidateConfiguration" class="rz-ripple">Validate Configuration</RadzenButton>
                    <RadzenButton Variant="Variant.Outlined" Click="@SaveConfiguration" class="rz-ripple">Save Configuration</RadzenButton>
                </RadzenRow>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeSM="6">
                <RenamerFieldSet Text="Template Fields">
                    <RadzenRow Gap="0.1rem" Style="padding-bottom: .1rem">
                        <RadzenColumn class="rz-p-2" Style="text-align: center; padding: 0 !important;">
                            <RadzenButton Text="@_templateFieldMappings[TemplateField.BasePath]" Shade="Shade.Lighter"
                                          Click="@(args => TemplateFieldClick(TemplateField.BasePath, args))"
                                          MouseEnter="@(args => ShowTooltip(TemplateField.BasePath, args))"
                                          ButtonStyle="ButtonStyle.Info" Style="width: 100%; height: 100%;"/>
                        </RadzenColumn>
                        <RadzenColumn class="rz-p-2" Style="text-align: center; padding: 0 !important;">
                            <RadzenButton Text="@_templateFieldMappings[TemplateField.TitleName]" Shade="Shade.Lighter"
                                          Click="@(args => TemplateFieldClick(TemplateField.TitleName, args))"
                                          MouseEnter="@(args => ShowTooltip(TemplateField.TitleName, args))"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%; height: 100%;"/>
                        </RadzenColumn>
                        <RadzenColumn class="rz-p-2" Style="text-align: center; padding: 0 !important;">
                            <RadzenButton Text="@_templateFieldMappings[TemplateField.TitleId]" Shade="Shade.Lighter"
                                          Click="@(args => TemplateFieldClick(TemplateField.TitleId, args))"
                                          MouseEnter="@(args => ShowTooltip(TemplateField.TitleId, args))"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%; height: 100%;"/>
                        </RadzenColumn>
                        <RadzenColumn class="rz-p-2" Style="text-align: center; padding: 0 !important;">
                            <RadzenButton Text="@_templateFieldMappings[TemplateField.Version]" Shade="Shade.Lighter"
                                          Click="@(args => TemplateFieldClick(TemplateField.Version, args))"
                                          MouseEnter="@(args => ShowTooltip(TemplateField.Version, args))"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%; height: 100%;"/>
                        </RadzenColumn>
                    </RadzenRow>
                    <RadzenRow Gap="0.1rem">
                        <RadzenColumn class="rz-p-2" Style="text-align: center; padding: 0 !important;">
                            <RadzenButton Text="@_templateFieldMappings[TemplateField.Extension]" Shade="Shade.Lighter"
                                          Click="@(args => TemplateFieldClick(TemplateField.Extension, args))"
                                          MouseEnter="@(args => ShowTooltip(TemplateField.Extension, args))"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%; height: 100%;"/>
                        </RadzenColumn>
                        <RadzenColumn class="rz-p-2" Style="text-align: center; padding: 0 !important;">
                            <RadzenButton Text="@_templateFieldMappings[TemplateField.AppName]" Shade="Shade.Lighter"
                                          Click="@(args => TemplateFieldClick(TemplateField.AppName, args))"
                                          MouseEnter="@(args => ShowTooltip(TemplateField.AppName, args))"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%; height: 100%;"/>
                        </RadzenColumn>
                        <RadzenColumn class="rz-p-2" Style="text-align: center; padding: 0 !important;">
                            <RadzenButton Text="@_templateFieldMappings[TemplateField.PatchId]" Shade="Shade.Lighter"
                                          Click="@(args => TemplateFieldClick(TemplateField.PatchId, args))"
                                          MouseEnter="@(args => ShowTooltip(TemplateField.PatchId, args))"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%; height: 100%;"/>
                        </RadzenColumn>
                        <RadzenColumn class="rz-p-2" Style="text-align: center; padding: 0 !important;">
                            <RadzenButton Text="@_templateFieldMappings[TemplateField.PatchNum]" Shade="Shade.Lighter"
                                          Click="@(args => TemplateFieldClick(TemplateField.PatchNum, args))"
                                          MouseEnter="@(args => ShowTooltip(TemplateField.PatchNum, args))"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%; height: 100%;"/>
                        </RadzenColumn>
                    </RadzenRow>
                </RenamerFieldSet>
                <RenamerFieldSet Text="@_sampleResultLabel">
                    <RadzenRow Gap="0.1rem">
                        <RadzenColumn Size="2">Before:</RadzenColumn>
                        <RadzenColumn Size="10">
                            <RadzenText Style="font-family: monospace; font-size: .7rem" Text="@_sampleBefore"/>
                        </RadzenColumn>
                    </RadzenRow>
                    <RadzenRow Gap="0.1rem">
                        <RadzenColumn Size="2">After:</RadzenColumn>
                        <RadzenColumn Size="10">
                            <RadzenText Style="font-family: monospace; font-size: .7rem" Text="@_sampleAfter"/>
                        </RadzenColumn>
                    </RadzenRow>
                </RenamerFieldSet>


            </RadzenColumn>
        </RadzenRow>
    </RenamerFieldSet>
</RadzenStack>


<div Class="rz-p-0">
    <RadzenRow Gap="1rem">
        <RadzenColumn Size="12" SizeSM="6">
            <RenamerFieldSet Text="NSP Paths">
                <RadzenFormField Text="Base" Variant="@Variant" Style="width: 100%; padding: 1px">
                    <RadzenTextBox @bind-Value="@_nspBase" id="NspBase" Name="NspBase"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(PackageTitleType.NspBase)"
                                   @onclick="_ => TemplateTextboxUpdate(PackageTitleType.NspBase)"/>
                </RadzenFormField>
                <RadzenFormField Text="DLC" Variant="@Variant" Style="width: 100%; padding: 1px">
                    <RadzenTextBox @bind-Value="@_nspDlc" id="NspDlc" Name="NspDlc"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(PackageTitleType.NspDlc)"
                                   @onclick="_ => TemplateTextboxUpdate(PackageTitleType.NspDlc)"/>
                </RadzenFormField>
                <RadzenFormField Text="Update" Variant="@Variant" Style="width: 100%; padding: 1px">
                    <RadzenTextBox @bind-Value="@_nspUpdate" id="NspUpdate" Name="NspUpdate"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(PackageTitleType.NspUpdate)"
                                   @onclick="_ => TemplateTextboxUpdate(PackageTitleType.NspUpdate)"/>
                </RadzenFormField>
            </RenamerFieldSet>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeSM="6">
            <RenamerFieldSet Text="NSZ Paths">

                <RadzenFormField Text="Base" Variant="@Variant" Style="width: 100%; padding: 1px">
                    <RadzenTextBox @bind-Value="@_nszBase" id="NszBase" Name="NszBase"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(PackageTitleType.NszBase)"
                                   @onclick="_ => TemplateTextboxUpdate(PackageTitleType.NszBase)"/>
                </RadzenFormField>
                <RadzenFormField Text="DLC" Variant="@Variant" Style="width: 100%; padding: 1px">
                    <RadzenTextBox @bind-Value="@_nszDlc" id="NszDlc" Name="NszDlc"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(PackageTitleType.NszDlc)"
                                   @onclick="_ => TemplateTextboxUpdate(PackageTitleType.NszDlc)"/>
                </RadzenFormField>
                <RadzenFormField Text="Update" Variant="@Variant" Style="width: 100%; padding: 1px">
                    <RadzenTextBox @bind-Value="@_nszUpdate" id="NszUpdate" Name="NszUpdate"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(PackageTitleType.NszUpdate)"
                                   @onclick="_ => TemplateTextboxUpdate(PackageTitleType.NszUpdate)"/>
                </RadzenFormField>
            </RenamerFieldSet>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow Gap="1rem">
        <RadzenColumn Size="12" SizeSM="6">
            <RenamerFieldSet Text="XCI Paths">
                <RadzenFormField Text="Base" Variant="@Variant" Style="width: 100%; padding: 1px">
                    <RadzenTextBox @bind-Value="@_xciBase" id="XciBase" Name="XciBase"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(PackageTitleType.XciBase)"
                                   @onclick="_ => TemplateTextboxUpdate(PackageTitleType.XciBase)"/>
                </RadzenFormField>
                <RadzenFormField Text="DLC" Variant="@Variant" Style="width: 100%; padding: 1px">
                    <RadzenTextBox @bind-Value="@_xciDlc" id="XciDlc" Name="XciDlc"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(PackageTitleType.XciDlc)"
                                   @onclick="_ => TemplateTextboxUpdate(PackageTitleType.XciDlc)"/>
                </RadzenFormField>
                <RadzenFormField Text="Update" Variant="@Variant" Style="width: 100%; padding: 1px">
                    <RadzenTextBox @bind-Value="@_xciUpdate" id="XciUpdate" Name="XciUpdate"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(PackageTitleType.XciUpdate)"
                                   @onclick="_ => TemplateTextboxUpdate(PackageTitleType.XciUpdate)"/>
                </RadzenFormField>
            </RenamerFieldSet>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeSM="6">
            <RenamerFieldSet Text="XCZ Paths">

                <RadzenFormField Text="Base" Variant="@Variant" Style="width: 100%; padding: 1px">
                    <RadzenTextBox @bind-Value="@_xczBase" id="XczBase" Name="XczBase"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(PackageTitleType.XczBase)"
                                   @onclick="_ => TemplateTextboxUpdate(PackageTitleType.XczBase)"/>
                </RadzenFormField>
                <RadzenFormField Text="DLC" Variant="@Variant" Style="width: 100%; padding: 1px">
                    <RadzenTextBox @bind-Value="@_xczDlc" id="XczDlc" Name="XczDlc"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(PackageTitleType.XczDlc)"
                                   @onclick="_ => TemplateTextboxUpdate(PackageTitleType.XczDlc)"/>
                </RadzenFormField>
                <RadzenFormField Text="Update" Variant="@Variant" Style="width: 100%; padding: 1px">
                    <RadzenTextBox @bind-Value="@_xczUpdate" id="XczUpdate" Name="XczUpdate"
                                   Style="font-family: monospace;"
                                   @onkeyup="_ => TemplateTextboxUpdate(PackageTitleType.XczUpdate)"
                                   @onclick="_ => TemplateTextboxUpdate(PackageTitleType.XczUpdate)"/>
                </RadzenFormField>
            </RenamerFieldSet>
        </RadzenColumn>
    </RadzenRow>
</div>
</RadzenTabsItem>
</Tabs>
</RadzenTabs>