@page "/settings"
@using Microsoft.Extensions.Configuration.UserSecrets

<PageTitle>Settings</PageTitle>
<RadzenRow>
    <RadzenColumn Size="12">
        <RadzenText Text="Settings" TextStyle="TextStyle.H3" TagName="TagName.H1"/>
    </RadzenColumn>
</RadzenRow>
<RadzenRow>
    <RadzenColumn Size="12">
        @if (Configuration.GetValue<string>("IsDefaultConfigCreated") == "True")
        {
            <RadzenText Text="Default configuration created"/>
        }

    </RadzenColumn>
</RadzenRow>
<RadzenFieldset Text="Library">
    <RadzenRow Gap="1rem">
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenStack>
                <RadzenFormField Text="Database Path">
                    <ChildContent>
                        <RadzenTextBox Disabled="@_databaseFieldDisabled" @bind-Value="@_config.TitleDatabase" Name="TitleDatabase"/>
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["TitleDatabase"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["TitleDatabase"]</div>    
                        }
                        <div class="rz-text-caption">
                            @if (_databaseFieldDisabled)
                            {
                                <text>Can't change database while app is running, change it in config.json and restart the app.</text>
                            }
                            else
                            {
                                <text>* required</text>
                            }
                        </div>                        
                    </Helper>
                </RadzenFormField>
                <RadzenFormField AllowFloatingLabel="false" Text="Prod Keys File">
                    <ChildContent>
                        <RadzenTextBox Disabled="@_databaseFieldDisabled" @bind-Value="@_config.ProdKeys" Name="ProdKeys"/>
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["ProdKeys"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["TitleDatabase"]</div>    
                        }
                        <div class="rz-text-caption">  
                            @if (_databaseFieldDisabled)
                            {
                                <text>Can't change prod keys file while app is running, change it in config.json and restart the app.</text>
                            }
                            else
                            {
                                <text>Location to prod.keys file, if no location is given the app will look in</text>
                                @NsxLibraryManager.Utils.PathHelper.HomeUserDir
                                <text>folder.</text>
                            }                            
                        </div>
                    </Helper>
                </RadzenFormField>
                <RadzenFormField Text="Library Path">
                    <ChildContent>
                        <RadzenTextBox @bind-Value="@_config.LibraryPath" Name="LibraryPath" />
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["LibraryPath"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["LibraryPath"]</div>    
                        }
                        <div class="rz-text-caption">
                            Folder where the library files are located.
                        </div>
                    </Helper>
                </RadzenFormField>
                <div class="rz-text-align-right   ; ">
                    <RadzenCheckBox @bind-Value="@_config.Recursive" Name="Recursive"/>
                    <RadzenLabel Text="Recursive" Component="Recursive" Style="margin-left: 8px; vertical-align: middle;"/>
                </div>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</RadzenFieldset>

<RadzenFieldset Text="Download Settings" Style="background-color: #38474e">
    <RadzenRow Gap="1.2rem">
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack>
                <RadzenFormField Text="TitleDb Path">
                    <ChildContent>
                        <RadzenTextBox @bind-Value="@_config.DownloadSettings.TitleDbPath"></RadzenTextBox>
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["DownloadSettings.TitleDbPath"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["DownloadSettings.TitleDbPath"]</div>    
                        }
                        <div class="rz-text-caption">
                            Folder where Title Db files will be downloaded.
                        </div>                        
                    </Helper>
                </RadzenFormField>
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack>
                <RadzenFormField Text="Timeout">
                    <ChildContent>
                        <RadzenNumeric @bind-Value="@_config.DownloadSettings.TimeoutInSeconds"></RadzenNumeric>
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["DownloadSettings.TimeoutInSeconds"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["DownloadSettings.TimeoutInSeconds"]</div>    
                        }
                        <div class="rz-text-caption">
                            Timeout for the download in seconds.
                        </div>                            
                    </Helper>
                </RadzenFormField>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow Gap="1.2rem">
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenStack>
                <RadzenFormField Text="RegionUrl">
                    <ChildContent>
                        <RadzenTextBox @bind-Value="@_config.DownloadSettings.RegionUrl"></RadzenTextBox>
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["DownloadSettings.RegionUrl"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["DownloadSettings.RegionUrl"]</div>    
                        }
                        <div class="rz-text-caption">
                            Url where we are going to fetch titledb region files, the {region} placeholder will be replaced with the selected regions.
                        </div>                           
                    </Helper>
                </RadzenFormField>
            </RadzenStack>
            <RadzenStack>
                <RadzenFormField Text="CnmtsUrl">
                    <ChildContent>
                        <RadzenTextBox @bind-Value="@_config.DownloadSettings.CnmtsUrl"></RadzenTextBox>
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["DownloadSettings.CnmtsUrl"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["DownloadSettings.CnmtsUrl"]</div>    
                        }
                        <div class="rz-text-caption">
                            Url where we are going to fetch the cnmts.json file.
                        </div>                          
                    </Helper>
                </RadzenFormField>
            </RadzenStack>
            <RadzenStack>
                <RadzenFormField Text="VersionsUrl">
                    <ChildContent>
                        <RadzenTextBox @bind-Value="@_config.DownloadSettings.VersionsUrl"></RadzenTextBox>
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["DownloadSettings.VersionsUrl"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["DownloadSettings.VersionsUrl"]</div>    
                        }
                        <div class="rz-text-caption">
                            Url where we are going to fetch the versions.json file.
                        </div>                             
                    </Helper>
                </RadzenFormField>
            </RadzenStack>
            <RadzenStack>

            </RadzenStack>
        </RadzenColumn>

    </RadzenRow>
    <RadzenRow Gap="1.2rem">
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack>
                <RadzenFormField Text="Regions">
                    <ChildContent>
                        <div class="rz-p-sm-12 rz-text-align-left">

                            <RadzenListBox @bind-Value="@_regionsValue" Data="@_regions" TextProperty="Name" ValueProperty="Name"
                                           Multiple="true" AllowClear="false" Placeholder="Select regions" Style="width: 100%; max-width: 400px; height: 200px"
                                           InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "select all regions" } })">

                            </RadzenListBox>
                        </div>
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["DownloadSettings.Regions"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["DownloadSettings.Regions"]</div>    
                        }
                        <div class="rz-text-caption">
                            Regions we are going to fetch, for now only US region has been tested.
                        </div>                           
                    </Helper>

                </RadzenFormField>
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenRow Style="margin-top: .5rem;" JustifyContent="JustifyContent.Center">
                <RadzenButton ButtonType="ButtonType.Submit" Variant="Variant.Outlined" Click="@SaveConfiguration" class="rz-ripple">Save Configuration</RadzenButton>
                <RadzenButton Variant="Variant.Outlined" Click="@ReloadApp" class="rz-ripple">Shut Down Application</RadzenButton>
            </RadzenRow>
        </RadzenColumn>
    </RadzenRow>
</RadzenFieldset>