@page "/settings"
@using Microsoft.Extensions.Configuration.UserSecrets

<PageTitle>Settings</PageTitle>
<RadzenRow>
    <RadzenColumn Size="12">
        <RadzenText Text="Settings" TextStyle="TextStyle.H3" TagName="TagName.H1"/>
    </RadzenColumn>
</RadzenRow>
<RadzenRow>
    <RadzenColumn Size="12">
        @if (Configuration.GetValue<string>("IsDefaultConfigCreated") == "True")
        {
            <RadzenText Text="Default configuration created"/>
        }

    </RadzenColumn>
</RadzenRow>
<RadzenFieldset Text="Library">
    <RadzenRow Gap="1rem">
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenStack>
                <RadzenFormField Text="Database Path">
                    <ChildContent>
                        <RadzenTextBox Disabled="@_databaseFieldDisabled" @bind-Value="@_config.TitleDatabase" Name="TitleDatabase"/>
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["TitleDatabase"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["TitleDatabase"]</div>    
                        }
                        <div class="rz-text-caption">
                            @if (_databaseFieldDisabled)
                            {
                                <text>Can't change database while app is running, change it in config.json and restart the app.</text>
                            }
                            else
                            {
                                <text>* required</text>
                            }
                        </div>                        
                    </Helper>
                </RadzenFormField>
                <RadzenFormField AllowFloatingLabel="false" Text="Prod Keys File">
                    <ChildContent>
                        <RadzenTextBox Disabled="@_databaseFieldDisabled" @bind-Value="@_config.ProdKeys" Name="ProdKeys"/>
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["ProdKeys"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["TitleDatabase"]</div>    
                        }
                        <div class="rz-text-caption">  
                            @if (_databaseFieldDisabled)
                            {
                                <text>Can't change prod keys file while app is running, change it in config.json and restart the app.</text>
                            }
                            else
                            {
                                <text>Location to prod.keys file, if no location is given the app will look in</text>
                                @NsxLibraryManager.Utils.PathHelper.HomeUserDir
                                <text>folder.</text>
                            }                            
                        </div>
                    </Helper>
                </RadzenFormField>
                <RadzenFormField Text="Library Path">
                    <ChildContent>
                        <RadzenTextBox @bind-Value="@_config.LibraryPath" Name="LibraryPath" />
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["LibraryPath"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["LibraryPath"]</div>    
                        }
                        <div class="rz-text-caption">
                            Folder where the library files are located.
                        </div>
                    </Helper>
                </RadzenFormField>
                <div class="rz-text-align-right   ; ">
                    <RadzenCheckBox @bind-Value="@_config.Recursive" Name="Recursive"/>
                    <RadzenLabel Text="Recursive" Component="Recursive" Style="margin-left: 8px; vertical-align: middle;"/>
                </div>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</RadzenFieldset>

<RadzenFieldset Text="Download Settings" Style="background-color: #38474e">
    <RadzenRow Gap="1.2rem">
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack>
                <RadzenFormField Text="TitleDb Url">
                    <ChildContent>
                        <RadzenTextBox @bind-Value="@_config.DownloadSettings.TitleDbUrl"></RadzenTextBox>
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["DownloadSettings.TitleDbUrl"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["DownloadSettings.TitleDbUrl"]</div>    
                        }
                        <div class="rz-text-caption">
                            Url of the SQL-TitleDb.
                        </div>                        
                    </Helper>
                </RadzenFormField>
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack>
                <RadzenFormField Text="TitleDb Version">
                    <ChildContent>
                        <RadzenNumeric @bind-Value="@_config.DownloadSettings.VersionUrl"></RadzenNumeric>
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["DownloadSettings.VersionUrl"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["DownloadSettings.VersionUrl"]</div>    
                        }
                        <div class="rz-text-caption">
                            Url for the version file for SQL-Titledb.
                        </div>                            
                    </Helper>
                </RadzenFormField>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow Gap="1.2rem">
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenStack>
                <RadzenFormField Text="Title Db Path">
                    <ChildContent>
                        <RadzenTextBox @bind-Value="@_config.DownloadSettings.TitleDbPath" Disabled="true"></RadzenTextBox>
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["DownloadSettings.TitleDbPath"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["DownloadSettings.TitleDbPath"]</div>    
                        }
                        <div class="rz-text-caption">
                            Location of SQL-TitleDb.
                        </div>                             
                    </Helper>
                </RadzenFormField>
            </RadzenStack>
            <RadzenStack>

            </RadzenStack>
        </RadzenColumn>

    </RadzenRow>
    <RadzenRow>
        <RadzenStack class="rz-p-0 rz-p-md-6 rz-p-lg-12">
            <RadzenCard Variant="Variant.Outlined">
                <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
                    <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem" class="rz-p-sm-2">
                        <RadzenLabel Text="Change the current theme" />
                        <RadzenDropDown Name="ThemeDropDown" TValue="string" Value="@ThemeService.Theme" ValueChanged="@ChangeTheme" Data="@Themes.Free" TextProperty=@nameof(Theme.Text) ValueProperty=@nameof(Theme.Value)>
                        </RadzenDropDown>
                    </RadzenStack>

                </RadzenStack>
            </RadzenCard>
        </RadzenStack>
    </RadzenRow>
    <RadzenRow Gap="1.2rem">
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenRow Style="margin-top: .5rem;" JustifyContent="JustifyContent.Center">
                <RadzenButton ButtonType="ButtonType.Submit" Variant="Variant.Outlined" Click="@SaveConfiguration" class="rz-ripple">Save Configuration</RadzenButton>
            </RadzenRow>
        </RadzenColumn>
    </RadzenRow>
</RadzenFieldset>