@page "/settings"

<PageTitle>Settings</PageTitle>
<RadzenRow>
    <RadzenColumn Size="12">
        @if (Configuration.GetValue<string>("IsDefaultConfigCreated") == "True")
        {
            <RadzenText Text="Default configuration created"/>
        }

    </RadzenColumn>
</RadzenRow>
<RadzenFieldset Text="Library">
    <RadzenRow Gap="1rem">
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenStack>
                <RadzenFormField Text="Database Path">
                    <ChildContent>
                        <RadzenTextBox Disabled="@_databaseFieldDisabled" @bind-Value="@_config.LibraryDatabase" Name="LibraryDatabase"/>
                    </ChildContent>
                    <Helper>
                        <div class="rz-text-caption">
                            <text>Can't change database while app is running, change it in config.json and restart the app.</text>
                        </div>
                    </Helper>
                </RadzenFormField>
                <RadzenRow AlignItems="AlignItems.Start" >
                    <RadzenColumn Size="6">
                        <div class="rz-fileupload" style="width: 100%">
                            <div class="rz-fileupload-buttonbar">
                                <a href="/api/download/userdata">
                                    <RadzenButton ButtonStyle="ButtonStyle.Success" Text="Export UserData" class="rz-m-0"/>
                                </a>
                                <text class="rz-text-caption">Only user data is exported (ratings, collections).</text>
                            </div>
                        </div>

                    </RadzenColumn>
                    <RadzenColumn Size="6">
                        <RadzenUpload Url="/api/upload/userdata"
                                      ChooseText="Import UserData"
                                      Progress=@(args => OnUploadProgress(args, "Single file upload"))
                                      Complete="@OnUploadUserDataComplete" Error="@OnUploadError"
                                      Style="width: 100%;"
                                      InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "select file" }})">
                        </RadzenUpload>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenFormField Text="Keys">
                    <RadzenRow Gap="2rem" RowGap="2rem" class="rz-m-0 rz-m-md-12">
                        <RadzenColumn Size="6">
                            <RadzenStack>
                                <RadzenFormField AllowFloatingLabel="false" Text="Prod Keys File">
                                    <ChildContent>
                                        <RadzenTextBox Disabled="@_databaseFieldDisabled" @bind-Value="@_config.ProdKeys" Name="ProdKeys"/>
                                    </ChildContent>
                                </RadzenFormField>
                            </RadzenStack>
                            <RadzenStack>
                                <RadzenFormField AllowFloatingLabel="false" Text="Title Keys File">
                                    <ChildContent>
                                        <RadzenTextBox Disabled="@_databaseFieldDisabled" @bind-Value="@_config.TitleKeys" Name="TitleKeys"/>
                                    </ChildContent>
                                </RadzenFormField>
                            </RadzenStack>
                            <RadzenStack>
                                <RadzenFormField AllowFloatingLabel="false" Text="Console Keys File">
                                    <ChildContent>
                                        <RadzenTextBox Disabled="@_databaseFieldDisabled" @bind-Value="@_config.ConsoleKeys" Name="ConsoleKeys"/>
                                    </ChildContent>
                                </RadzenFormField>
                            </RadzenStack>
                            <RadzenStack>
                                <RadzenText TextStyle="TextStyle.Caption">Missing keys will be derived from existing keys if possible,
                                    keys are necessary to read the nsp packages, if no keys are provided system will try to load them from the path @_homeDirKeysFilePath
                                    if no keys are found there either the file name will be used to get the title info from titledb, but any operation that needs to identify a title
                                    will be limited. Most of the time prod.keys is enough to get the package info.</RadzenText>
                            </RadzenStack>
                        </RadzenColumn>
                        <RadzenColumn Size="6">
                            <RadzenCard Variant="Variant.Outlined">
                                <RadzenUpload id="ddUpload" @ref="_uploadDd" ChooseText="Drag and drop here or click to choose keyfiles"
                                              Auto="true" Multiple="true" Url="api/upload/keys" InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "select file" } })"
                                              Progress=@(args => OnUploadProgress(args, "Drag and drop files to upload")) Complete="@OnUploadKeysComplete" Error="@OnUploadError" Style="width: 100%"/>
                                <RadzenButton Text="Remove Current Keys" Click=@(args => ClearKeys()) class="rz-mt-4"/>
                            </RadzenCard>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenFormField>
                <RadzenFieldset Text="Paths">
                    <RadzenRow Gap="1.2rem">
                        <RadzenColumn Size="12" SizeSM="6">
                            <RadzenStack>
                                <RadzenFormField Text="Library Path">
                                    <ChildContent>
                                        <RadzenTextBox @bind-Value="@_config.LibraryPath" Name="LibraryPath"/>
                                    </ChildContent>
                                    <Helper>
                                        @if (@_validationErrors["LibraryPath"] != string.Empty)
                                        {
                                            <div class="rz-message rz-messages-error">@_validationErrors["LibraryPath"]</div>
                                        }
                                        <div class="rz-text-caption">
                                            Folder where the library files are located.
                                        </div>
                                    </Helper>
                                </RadzenFormField>
                                <RadzenRow JustifyContent="JustifyContent.End" AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="2" class="rz-text-align-right;">
                                        <RadzenCheckBox @bind-Value="@_config.Recursive" Name="Recursive"/>
                                        <RadzenLabel Text="Recursive" Component="Recursive" Style="margin-left: 8px; vertical-align: middle;"/>
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenStack>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="6">
                            <RadzenStack>
                                <RadzenFormField Text="Backup Path">
                                    <ChildContent>
                                        <RadzenTextBox @bind-Value="@_config.BackupPath" Name="BackupPath"/>
                                    </ChildContent>
                                    <Helper>
                                        @if (@_validationErrors["BackupPath"] != string.Empty)
                                        {
                                            <div class="rz-message rz-messages-error">@_validationErrors["BackupPath"]</div>
                                        }
                                        <div class="rz-text-caption">
                                            Folder where the deleted files will be placed.
                                        </div>
                                    </Helper>
                                </RadzenFormField>
                            </RadzenStack>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenFieldset>
                <RadzenFieldset Text="Library settings">
                    <RadzenRow>
                        <RadzenColumn Size="12" SizeMD="6">
                            <RadzenRow>
                                <RadzenColumn Size="6">
                                    <RadzenSwitch Name="UseEnglishNaming" @bind-Value="@_config.UseEnglishNaming" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Switch value" }})" MouseEnter="@(args => ShowTooltip("For titles in Asia regions (JP, CN, KO, HK) prefer Nswdb for title name", args))"/>
                                    <RadzenLabel Text="Try to use english naming." Component="UseEnglishNaming" Style="margin-left: 8px; vertical-align: middle;"/>
                                </RadzenColumn>
                                <RadzenColumn Size="6">
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="6">
                            <RadzenRow class="rz-text-align-center">
                            </RadzenRow>
                        </RadzenColumn>

                    </RadzenRow>
                </RadzenFieldset>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</RadzenFieldset>

<RadzenFieldset Text="Download Settings" >
    <RadzenRow Gap="1.2rem">
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack>
                <RadzenFormField Text="TitleDb Url">
                    <ChildContent>
                        <RadzenTextBox @bind-Value="@_config.DownloadSettings.TitleDbUrl"></RadzenTextBox>
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["DownloadSettings.TitleDbUrl"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["DownloadSettings.TitleDbUrl"]</div>    
                        }
                        <div class="rz-text-caption">
                            Where to get the SQL-TitleDb.
                        </div>                        
                    </Helper>
                </RadzenFormField>
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack>
                <RadzenFormField Text="TitleDb Version">
                    <ChildContent>
                        <RadzenTextBox @bind-Value="@_config.DownloadSettings.VersionUrl"></RadzenTextBox>
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["DownloadSettings.VersionUrl"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["DownloadSettings.VersionUrl"]</div>    
                        }
                        <div class="rz-text-caption">
                            Url for the version file for SQL-Titledb.
                        </div>                            
                    </Helper>
                </RadzenFormField>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow Gap="1.2rem">
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenStack>
                <RadzenFormField Text="Title Db Path">
                    <ChildContent>
                        <RadzenTextBox @bind-Value="@_config.TitleDatabase" Disabled="true"></RadzenTextBox>
                    </ChildContent>
                    <Helper>
                        @if (@_validationErrors["DownloadSettings.TitleDbPath"] != string.Empty)
                        {
                            <div class="rz-message rz-messages-error">@_validationErrors["DownloadSettings.TitleDbPath"]</div>    
                        }
                        <div class="rz-text-caption">
                            Location of SQL-TitleDb.
                        </div>                             
                    </Helper>
                </RadzenFormField>
            </RadzenStack>
            <RadzenStack>

            </RadzenStack>
        </RadzenColumn>

    </RadzenRow>
    <RadzenRow>
        <RadzenStack class="rz-p-0 rz-p-md-6 rz-p-lg-12">

        </RadzenStack>
    </RadzenRow>
</RadzenFieldset>
<RadzenFieldset Text="Misc">
    <RadzenRow Gap="1rem">
        <RadzenColumn Size="6">
            <RadzenCard Variant="Variant.Outlined">
                <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
                    <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem" class="rz-p-sm-2">
                        <RadzenLabel Text="UI Theme" />
                        <RadzenDropDown Name="ThemeDropDown" TValue="string" Value="@ThemeService.Theme" ValueChanged="@ChangeTheme" Data="@Themes.Free" TextProperty=@nameof(Theme.Text) ValueProperty=@nameof(Theme.Value)>
                        </RadzenDropDown>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn Size="6">
        </RadzenColumn>
    </RadzenRow>
</RadzenFieldset>
<RadzenRow Gap="1.2rem">
    <RadzenColumn Size="12" SizeSM="12">
        <RadzenRow Style="margin-top: .5rem;" JustifyContent="JustifyContent.Center">
            <RadzenButton ButtonType="ButtonType.Submit" Variant="Variant.Outlined" Click="@SaveConfiguration" class="rz-ripple">Save Configuration</RadzenButton>
        </RadzenRow>
    </RadzenColumn>
</RadzenRow>
<style>
    #ddUpload {
        left: 0;
        --rz-upload-button-bar-background-color: transparent;
        --rz-upload-button-bar-padding: 0;
    }

    #ddUpload .rz-fileupload-buttonbar .rz-fileupload-choose {
        width: 100%;
        text-align: center;
        font-size: 16px;
        padding: 50px 0;
    }
</style>